/* All your styles can go here */
.percent-off {
  color: red;
  font-weight: bold;
}

.add-to-cart-button {
  background: #36309d;
  border: 1px solid #515151;
  border-radius: 10px;
  color: white;
  padding: 0.2rem 0.5rem;
  white-space: nowrap;
}

.add-to-cart-button:hover,
:focus {
  background-color: #534f93;
}
